<%- include('../util/head.ejs'); %>

    <main>
      <h1 class="tophead"><%- msgs.deregAckTitle %></h1>
      <p><%- msgs.curateDeregAckText %></p>
    </main>
    <%- linkButtonP('/', msgs.btnHome) %>

<%- include('../util/foot.ejs'); %>
