<%- include('../util/head.ejs'); %>

<%- linkButtonP('/', msgs.btnHome) %>

<h1><%- msgs.curationDir %></h1>

<p><%- msgs.curateDirHere %></p>

<h3><%- msgs.curateDirChoose %></h3>

<p>This feature is not yet implemented.</p>

<p>To curate directory permissions, edit the file <code>src/db/config/seeddir.sql</code> and then execute the <code>seeddir_db</code> script.</p>

<%- include('../util/foot.ejs'); %>
