<%- include('../util/head.ejs'); %>

    <h1><%- msgs.curation %></h1>

    <p><%- msgs.curateHere %></p>

    <form>

      <p><button formaction="/"><%- msgs.btnHome %></button></p>

      <h3><%- msgs.curateChoose %></h3>

      <p><button formaction="/curate/reg"><%- msgs.btnCurateReg %></button></p>
      <p><button formaction="/curate/cat"><%- msgs.btnCurateCat %></button></p>
      <p><button formaction="/curate/dir"><%- msgs.btnCurateDir %></button></p>

    </form>

<%- include('../util/foot.ejs'); %>
