<%- include('../util/head.ejs'); %>

    <h1><%- msgs.curation %></h1>

    <p><%- msgs.curateHere %></p>

    <%- linkButtonP('/', msgs.btnHome) %>

    <h3><%- msgs.curateChoose %></h3>

    <%- linkButtonP('/curate/reg', msgs.btnCurateReg) %>
    <%- linkButtonP('/curate/cat', msgs.btnCurateCat) %>
    <%- linkButtonP('/curate/dir', msgs.btnCurateDir) %>

<%- include('../util/foot.ejs'); %>
