<%- include('../util/head.ejs'); %>

    <h1><%- msgs.regEditAckTitle %></h1>

    <p><%- textParts[0] %><%= targetDeepUsr[0].name %><%- textParts[1] %></p>

    <div class="kvpairs">
      <% Object.keys(targetDeepUsr[0]).forEach(key => { %>
        <p><%- key %> = <%= targetDeepUsr[0][key] %></p>
      <% }); %>
      <p>Categories = <%- targetDeepUsr[1] %></p>
    </div>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

<%- include('../util/foot.ejs'); %>
