<%- include('../util/head.ejs'); %>

    <main>
      <section title="introduction">
        <h1 class="tophead"><%- msgs.regEditAckTitle %></h1>
        <p><%- textParts[0] %><%= targetDeepUsr[0].name %><%- textParts[1] %></p>
      </section>
      <section title="details">
        <div class="kvpairs">
          <% Object.keys(targetDeepUsr[0]).forEach(key => { %>
            <p><%- key %> = <%= targetDeepUsr[0][key] %></p>
          <% }); %>
          <p><%= msgs.curateCats %> = <%- targetDeepUsr[1] %></p>
        </div>
      </section>
    </main>
    <%- linkButtonP('/', msgs.btnHome) %>

<%- include('../util/foot.ejs'); %>
