<%- include('../util/head.ejs'); %>

    <h1><%- msgs.curationReg %></h1>

    <p><%- msgs.curateRegHere %></p>

    <%- linkButtonP('/', msgs.btnHome) %>

    <h3><%- msgs.curateRegChoose %></h3>

    <table>

      <tr>
        <th><%- msgs.tblID %></th>
        <th><%- msgs.tblUID %></th>
        <th><%- msgs.tblName %></th>
      </tr>

      <% usrs.forEach(usr => { %>
        <tr>
          <td class="open">
            <%- linkButton(`/curate/reg/${usr.id}`, usr.id) %>
          </td>
          <td><%= usr.uid %></td>
          <td><%= usr.name %></td>
        </tr>
      <% }); %>

    </table>

<%- include('../util/foot.ejs'); %>
