<%- include('../util/head.ejs'); %>

    <h1><%- msgs.curationReg %></h1>

    <p><%- msgs.curateRegHere %></p>

    <form>
      <p><button formaction="/"><%- msgs.btnHome %></button></p>
    </form>

    <h3><%- msgs.curateRegChoose %></h3>

    <table>

      <tr>
        <th><%- msgs.tblID %></th>
        <th><%- msgs.tblUID %></th>
        <th><%- msgs.tblName %></th>
      </tr>

      <form>

        <% usrs.forEach(usr => { %>
          <tr>
            <td class="open">
              <button formaction="/curate/reg/<%- usr.id %>">
                <%- usr.id %>
              </button>
            </td>
            <td><%= usr.uid %></td>
            <td><%= usr.name %></td>
          </tr>
        <% }); %>

      </form>

    </table>

<%- include('../util/foot.ejs'); %>
