<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsAddTitle %></h1>

    <p><%- msgs.docsAddHere %></p>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

    <p>This feature is not yet implemented.</p>

<%- include('../util/foot.ejs'); %>
