<%- include('../util/head.ejs'); %>

<%- linkButtonP('/', msgs.btnHome) %>

<h1><%- msgs.docsAddTitle %></h1>

<p><%- msgs.docsAddHere %></p>

<p>This feature is not yet implemented.</p>

<%- include('../util/foot.ejs'); %>
