<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsBrowseTitle %></h1>

    <p><%- msgs.docsBrowseText %></p>

    <%- linkButtonP('/', msgs.btnHome) %>

    <%- linkButtonP('/docs/search', msgs.btnDocsSearch) %>

    <div class="dirlist">
      <% if (base) {
        const itemsInParts = msgs.itemsIn.split('{1}');
      %>
        <p><strong>
        <%- itemsInParts[0] %>
        <a href="/docs/browse?p=<%= up %>"><%= up %></a>/<%= last %>:
        <%- itemsInParts[1] %>
        </strong></p>
      <% } %>
      <table>
        <tr>
          <th><%- msgs.tblItem %></th>
          <th><%- msgs.tblSize %></th>
          <th><%- msgs.tblDate %></th>
        </tr>
        <% dirData.forEach(itemData => {
          const p = `${base}${delim}${itemData.name}`;
        %>
          <tr>
            <td><a href="/docs/browse?p=<%= p %>"><%= itemData.name %></a></td>
            <td><%- itemData.size %></td>
            <td><%- itemData.modDate %></td>
          </tr>
        <% }) %>
      </table>
    </div>

<%- include('../util/foot.ejs'); %>
