<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsBrowseTitle %></h1>

    <p><%- msgs.docsBrowseText %></p>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

    <p><span class="link buttonish">
      <a href="/docs/search"><%- msgs.btnDocsSearch %></a>
    </span></p>

    <div class="dirlist">
      <%- base
        ? `<p><strong>Items in <a href="/docs/browse?p=${up}">${up}</a>/${last}:</strong></p>`
        : ''
      %>
      <table>
        <tr><th>Item</th><th>Size</th><th>Date</th></tr>
        <%- dirData
          .map(itemData => {
            const p = `${base}${delim}${itemData.name}`;
            return `<tr>
              <td><a href="/docs/browse?p=${p}">${itemData.name}</a></td>
              <td>${itemData.size}</td>
              <td>${itemData.modDate}</td>
            </tr>`;
          })
          .join('\n')
        %>
      </table>
    </div>

<%- include('../util/foot.ejs'); %>
