<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsTitle %></h1>

    <p><%- msgs.docsText %></p>

    <p><span class="link buttonish"><a href="/"><%- msgs.btnHome %></a></span></p>

    <p><%- msgs.docsChoose %></p>

    <p><span class="link buttonish">
      <a href="/docs/browse"><%- msgs.btnDocsBrowse %></a>
    </span></p>
    <p><span class="link buttonish">
      <a href="/docs/search"><%- msgs.btnDocsSearch %></a>
    </span></p>
    <p><span class="<%= docaddclass %>link buttonish">
      <a href="/docs/add"><%- msgs.btnDocsAdd %></a>
    </span></p>

<%- include('../util/foot.ejs'); %>
