<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsTitle %></h1>

    <p><%- msgs.docsText %></p>

    <form>

      <p><button formaction="/"><%- msgs.btnHome %></button></p>

      <p><%- msgs.docsChoose %></p>

      <p><button formaction="/docs/browse">
        <%- msgs.btnDocsBrowse %>
      </button></p>
      <p><button formaction="/docs/search">
        <%- msgs.btnDocsSearch %>
      </button></p>
      <p><button formaction="/docs/add">
        <%- msgs.btnDocsAdd %>
      </button></p>

    </form>


<%- include('../util/foot.ejs'); %>
