<%- include('../util/head.ejs'); %>

    <%- linkButtonP('/', msgs.btnHome) %>

    <h1><%- msgs.docsTitle %></h1>

    <p><%- msgs.docsText %></p>

    <p><%- msgs.docsChoose %></p>

    <%- linkButtonP('/docs/browse', msgs.btnDocsBrowse) %>
    <%- linkButtonP('/docs/add', msgs.btnDocsAdd, {showIf: ifCanAdd}) %>

<%- include('../util/foot.ejs'); %>
