<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsSearchTitle %></h1>

    <p><%- msgs.docsSearchHere %></p>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

    <p>This feature is not yet implemented, but doing so has a high priority.</p>

<%- include('../util/foot.ejs'); %>
