<%- include('../util/head.ejs'); %>

<p>
  <%- linkButton('/', msgs.btnHome) %>
  <%- linkButton('/docs/browse', msgs.btnDocsBrowse) %>
</p>

<h1><%- msgs.docsSearchTitle %></h1>

<p><%- msgs.docsSearchHere %></p>

<p>This feature is not yet implemented.</p>

<%- include('../util/foot.ejs'); %>
