<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsSearchTitle %></h1>

    <p><%- msgs.docsSearchHere %></p>

    <%- linkButtonP('/', msgs.btnHome) %>

    <p>This feature is not yet implemented.</p>

<%- include('../util/foot.ejs'); %>
