<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsTitle %></h1>

    <h2><%- msgs.welcome %></h2>

    <h3><%- msgs.intro %></h3>

    <p><%- msgs.bthIs %></p>

    <p><%- msgs.valueProp %></p>

    <h3><%- msgs.accessTitle %></h3>

    <p><%- msgs.accessText %></p>

    <h3><%- msgs.choose %></h3>

    <p><span class="<%= ifCurator %>link buttonish">
      <a href="/curate"><%- msgs.btnCurate %></a>
    </span></p>
    <p><span class="<%= ifAnonymous %>link buttonish">
      <a href="/usr/register"><%- msgs.btnRegister %></a>
    </span></p>
    <p><span class="<%= ifKnown %>link buttonish">
      <a href="/usr/deregister"><%- msgs.btnDeregister %></a>
    </span></p>
    <p><span class="<%= ifAnonymous %>link buttonish">
      <a href="/usr/login"><%- msgs.btnLogin %></a>
    </span></p>
    <p><span class="link buttonish">
      <a href="/docs"><%- msgs.btnSeePubDocs %></a>
    </span></p>

<%- include('../util/foot.ejs'); %>
