<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsTitle %></h1>

    <h3><%- msgs.intro %></h3>

    <p><%- msgs.introText %></p>

    <h3><%- msgs.accessTitle %></h3>

    <p><%- msgs.accessText %></p>

    <h3><%- msgs.choose %></h3>

    <%- linkButtonP('/curate', msgs.btnCurate, ifCurator) %>
    <%- linkButtonP('/usr/register', msgs.btnRegister, ifAnonymous) %>
    <%- linkButtonP('/usr/login', msgs.btnLogin, ifAnonymous) %>
    <%- linkButtonP('/docs', msgs.btnSeeDocs, ifKnown) %>
    <%- linkButtonP('/docs', msgs.btnSeePubDocs, ifAnonymous) %>

<%- include('../util/foot.ejs'); %>
