<%- include('../util/head.ejs'); %>

    <h1><%- msgs.docsTitle %></h1>

    <h3><%- msgs.intro %></h3>

    <p><%- msgs.introText %></p>

    <h3><%- msgs.accessTitle %></h3>

    <p><%- msgs.accessText %></p>

    <h3><%- msgs.choose %></h3>

    <form>
      <p><button <%- ifCurator %>formaction="/curate">
        <%- msgs.btnCurate %>
      </button></p>
      <p><button <%- ifAnonymous %>formaction="/usr/register">
        <%- msgs.btnRegister %>
      </button></p>
      <p><button <%- ifKnown %>formaction="/usr/deregister">
        <%- msgs.btnDeregister %>
      </button></p>
      <p><button <%- ifAnonymous %>formaction="/usr/login">
        <%- msgs.btnLogin %>
      </button></p>
      <p><button <%- ifKnown %>formaction="/docs">
        <%- msgs.btnSeeDocs %>
      </button></p>
      <p><button <%- ifAnonymous %>formaction="/docs">
        <%- msgs.btnSeePubDocs %>
      </button></p>
    </form>

<%- include('../util/foot.ejs'); %>
