<%- include('../util/head.ejs'); %>

    <h1><%- msgs.curation %></h1>

    <p><%- msgs.curateHere %></p>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

    <h3>Please choose what to curate:</h3>

    <p><span class="link buttonish">
      <a href="/curate/reg"><%- msgs.btnCurateReg %></a>
    </span></p>

    <p><span class="link buttonish">
      <a href="/curate/grp"><%- msgs.btnCurateGrp %></a>
    </span></p>

    <p><span class="link buttonish">
      <a href="/curate/permit"><%- msgs.btnCuratePermit %></a>
    </span></p>

<%- include('../util/foot.ejs'); %>
