<%- include('../util/head.ejs'); %>

    <h1><%- msgs.deregAckTitle %></h1>

    <p><%- msgs.deregAckText %></p>

    <p><span class="link buttonish">
      <a href="/"><%- msgs.btnHome %></a>
    </span></p>

<%- include('../util/foot.ejs'); %>
