<%- include('../util/head.ejs'); %>

    <h1>Login</h1>

    <p>If you are already registered, you can log in here.</p>

    <p><span class="link buttonish"><a href="/">Home</a></span></p>

    <form method="post" action="/usr/login" class="form">
      <pre class="form-error"><%= locals.formError || "" %></pre>

      <label>
        <span>ID:</span>
        <input placeholder="1A" required autofocus
          type="text" name="uid"
          size="3" minlength="2" maxlength="3"
          pattern="[2-9][A-H]{1,2}|1[A-Z]{1,2}"
          value="<%= formData.uid %>"
        >
      </label>
      <label>
        <span>Password:</span>
        <input required
          type="password" name="password"
          size="40" minlength="5" maxlength="40"
          value="<%= formData.password %>"
          autocomplete="current-password"
        >
      </label>
      <input type="submit" value="Log in">
    </form>

<%- include('../util/foot.ejs'); %>
