<%- include('../util/head.ejs'); %>

    <h1><%- msgs.loginOKTitle %></h1>

    <p><%- msgs.loginOKText %></p>

    <form>
      <p><button formaction="/"><%- msgs.btnHome %></button></p>
    </form>

<%- include('../util/foot.ejs'); %>
