<%- include('../util/head.ejs'); %>

    <main>
      <section title="acknowledgement">
        <h1 class="tophead"><%- msgs.loginOKTitle %></h1>
        <p><%- msgs.loginOKText %></p>
      </section>
    </main>
    <%- linkButtonP('/', msgs.btnHome) %>

<%- include('../util/foot.ejs'); %>
