<%- include('../util/head.ejs'); %>

    <h1><%- msgs.logoutOKTitle %></h1>

    <p><%- msgs.logoutOKText %></p>

    <p><span class="link buttonish"><a href="/"><%- msgs.btnHome %></a></span></p>

<%- include('../util/foot.ejs'); %>
