<%- include('../util/head.ejs'); %>

    <h1><%- msgs.registration %></h1>

    <p><%- msgs.regHere %></p>

    <p><span class="link buttonish"><a href="/"><%- msgs.btnHome %></a></span></p>

    <form method="post" action="/usr/register" class="form">
      <pre class="form-error"><%= locals.formError || "" %></pre>

      <label>
        <span><%- msgs.name %></span>
        <input required autofocus
          type="text" name="name"
          size="40" minlength="3" maxlength="40"
          value="<%= formData.name %>"
        >
      </label>
      <label>
        <span><%- msgs.email %></span>
        <input required
          type="email" name="email"
          size="50" minlength="6" maxlength="50"
          value="<%= formData.email %>"
        >
      </label>
      <label>
        <span><%- msgs.pwNew %></span>
        <input required
          type="password" name="password1"
          size="40" minlength="5" maxlength="40"
          value="<%= formData.password1 %>"
          autocomplete="new-password"
        >
      </label>
      <label>
        <span><%- msgs.pwAgain %></span>
        <input required
          type="password" name="password2"
          size="40" minlength="5" maxlength="40"
          value="<%= formData.password2 %>"
          autocomplete="new-password"
        >
      </label>
      <p><%- msgs.bthRelation %></p>
      <label>
        <input type="checkbox" name="grpMember"
          value="1" <%= formData.grpMember ? "checked" : "" %>
        >
        <span><%- msgs.grpMember %></span>
      </label>
      <label>
        <input type="checkbox" name="grpResident"
          value="1" <%= formData.grpResident ? "checked" : "" %>
        >
        <span><%- msgs.grpResident %></span>
      </label>
      <label>
        <input type="checkbox" name="grpProspect"
          value="1" <%= formData.grpProspect ? "checked" : "" %>
        >
        <span><%- msgs.grpProspect %></span>
      </label>
      <label>
        <input type="checkbox" name="grpManager"
          value="1" <%= formData.grpManager ? "checked" : "" %>
        >
        <span><%- msgs.grpManager %></span>
      </label>
      <label>
        <input type="checkbox" name="grpDirector"
          value="1" <%= formData.grpDirector ? "checked" : "" %>
        >
        <span><%- msgs.grpDirector %></span>
      </label>
      <label>
        <input type="checkbox" name="grpTreasurer"
          value="1" <%= formData.grpTreasurer ? "checked" : "" %>
        >
        <span><%- msgs.grpTreasurer %></span>
      </label>
      <label>
        <input type="checkbox" name="grpOther"
          value="1" <%= formData.grpOther ? "checked" : "" %>
        >
        <span><%- msgs.grpOther %></span>
      </label>
      <label>
        <span><%- msgs.unit0 %></span>
        <input placeholder="1XY"
          type="text" name="unit0"
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
          value="<%= formData.unit0 %>"
        >
      </label>
      <label>
        <span><%- msgs.unit1 %></span>
        <input placeholder="1XY"
          type="text" name="unit1"
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
          value="<%= formData.unit1 %>"
        >
      </label>
      <label>
        <span><%- msgs.mgrTitle %></span>
        <input type="text" name="title"
          size="30" maxlength="30" value="<%= formData.title %>"
        >
      </label>
      <label>
        <span><%- msgs.info %></span>
        <input
          type="text" name="etc"
          size="60" maxlength="90"
          value="<%= formData.etc %>"
        >
      </label>

      <button type="submit" name="submit" "1"><%- msgs.btnSubmit %></button>

    </form>

<%- include('../util/foot.ejs'); %>
