<%- include('../util/head.ejs'); %>

    <h1><%- msgs.registration %></h1>

    <p><%- msgs.regHere %></p>

    <p><span class="link buttonish"><a href="/"><%- msgs.btnHome %></a></span></p>

    <form method="post" action="/usr/register" class="form">
      <pre class="form-error"><%= locals.formError || "" %></pre>

      <label>
        <span><%- msgs.name %></span>
        <input required autofocus
          type="text" name="name"
          size="40" minlength="3" maxlength="40"
          value="<%= formData.name %>"
        >
      </label>
      <label>
        <span><%- msgs.email %></span>
        <input required
          type="email" name="email"
          size="50" minlength="6" maxlength="50"
          value="<%= formData.email %>"
        >
      </label>
      <label>
        <span><%- msgs.pwNew %></span>
        <input required
          type="password" name="password1"
          size="40" minlength="5" maxlength="40"
          value="<%= formData.password1 %>"
          autocomplete="new-password"
        >
      </label>
      <label>
        <span><%- msgs.pwAgain %></span>
        <input required
          type="password" name="password2"
          size="40" minlength="5" maxlength="40"
          value="<%= formData.password2 %>"
          autocomplete="new-password"
        >
      </label>
      <p><%- msgs.bthRelation %></p>
      <label>
        <input type="checkbox" name="catMember"
          value="1" <%= formData.catMember ? "checked" : "" %>
        >
        <span><%- msgs.catMember %></span>
      </label>
      <label>
        <input type="checkbox" name="catResident"
          value="1" <%= formData.catResident ? "checked" : "" %>
        >
        <span><%- msgs.catResident %></span>
      </label>
      <label>
        <input type="checkbox" name="catProspect"
          value="1" <%= formData.catProspect ? "checked" : "" %>
        >
        <span><%- msgs.catProspect %></span>
      </label>
      <label>
        <input type="checkbox" name="catManager"
          value="1" <%= formData.catManager ? "checked" : "" %>
        >
        <span><%- msgs.catManager %></span>
      </label>
      <label>
        <input type="checkbox" name="catDirector"
          value="1" <%= formData.catDirector ? "checked" : "" %>
        >
        <span><%- msgs.catDirector %></span>
      </label>
      <label>
        <input type="checkbox" name="catTreasurer"
          value="1" <%= formData.catTreasurer ? "checked" : "" %>
        >
        <span><%- msgs.catTreasurer %></span>
      </label>
      <label>
        <input type="checkbox" name="catOther"
          value="1" <%= formData.catOther ? "checked" : "" %>
        >
        <span><%- msgs.catOther %></span>
      </label>
      <label>
        <span><%- msgs.unit0 %></span>
        <input placeholder="1XY"
          type="text" name="unit0"
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
          value="<%= formData.unit0 %>"
        >
      </label>
      <label>
        <span><%- msgs.unit1 %></span>
        <input placeholder="1XY"
          type="text" name="unit1"
          size="3" minlength="2" maxlength="3"
          pattern="\d[A-H]{1,2}"
          value="<%= formData.unit1 %>"
        >
      </label>
      <label>
        <span><%- msgs.mgrTitle %></span>
        <input type="text" name="title"
          size="30" maxlength="30" value="<%= formData.title %>"
        >
      </label>
      <label>
        <span><%- msgs.info %></span>
        <input
          type="text" name="etc"
          size="60" maxlength="90"
          value="<%= formData.etc %>"
        >
      </label>

      <button type="submit" name="submit"><%- msgs.btnSubmit %></button>

    </form>

<%- include('../util/foot.ejs'); %>
