<%- include('../util/head.ejs'); %>

    <%- linkButtonP('/', msgs.btnHome) %>
    <main>
      <section title="introduction">
        <h1 class="tophead"><%- msgs.registration %></h1>
        <p><%- msgs.regHere %></p>
      </section>
      <section title="actions">
        <form method="post" action="<%- process.env.LINK_PREFIX %>/usr/register" class="form">
          <pre class="form-error"><%= locals.formError || "" %></pre>
          <label>
            <span><%- msgs.name %></span><br>
            <input required autofocus
              type="text" name="name"
              size="40" minlength="3" maxlength="40"
              value="<%= formData.name %>"
            >
          </label>
          <label>
            <span><%- msgs.email %></span><br>
            <input required
              type="email" name="email"
              size="40" minlength="6" maxlength="50"
              value="<%= formData.email %>"
            >
          </label>
          <label>
            <span><%- msgs.pwNew %></span><br>
            <input required
              type="password" name="password1"
              size="40" minlength="5" maxlength="40"
              value="<%= formData.password1 %>"
              autocomplete="new-password"
            >
          </label>
          <label>
            <span><%- msgs.pwAgain %></span><br>
            <input required
              type="password" name="password2"
              size="40" minlength="5" maxlength="40"
              value="<%= formData.password2 %>"
              autocomplete="new-password"
            >
          </label>
          <!-- Checkboxes for category membership (authorization) claims -->
          <section class="boxlist" title="categories">
            <h4 class="vclose"><%- msgs.catHead %></h4>
            <% msgs.cats.filter(cat => cat[1]).forEach(cat => { %>
              <label>
                <input type="checkbox" name="<%- cat[0] %>"
                  value="1" <%- formData[cat[0]] ? "checked" : "" %>
                >
                <span><%= cat[2] %></span>
              </label>
            <% }) %>
          </section>
          <!-- Text fields for miscellaneous user information -->
          <% msgs.usrEtc.forEach(etc => { %>
            <label>
              <span><%- etc.label %></span><br>
              <input
                type="text"
                <% Object.keys(etc.field).forEach(key => { %>
                  <%- key %>="<%- etc.field[key] %>"
                <% }) %>
              >
            </label>
          <% }) %>
          <button name="submit"><%- msgs.btnSubmit %></button>
        </form>
      </section>
    </main>

<%- include('../util/foot.ejs'); %>
